#root {
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-url-form {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80%;
}
.new-url-form input {
	width: 100%;
	text-align: center;
	margin-bottom: 1em;
	margin-right: 0;
}

.new-url-form form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

input[type='submit'] {
	max-width: 200px;
	padding: 1em 2em;
}
